<div class="row form-container">
    <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control new-user" autofocus id="fName" placeholder="Enter first name"
                formControlName="firstName" />
        </div>

        <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control new-user" autofocus id="lName" placeholder="Enter last name"
                formControlName="lastName" />
        </div>

        <button class="btn btn-danger" (click)="onCancel($event)">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
    </form>
</div>